<div class="wrapper">

  <div class="container">
    <div class="justify-content-center-between">

      <div id="item">
        <img src="/img/register.svg" width="500">
      </div>

      <div class="card" id="item">

        <div class="justify-content-center-between">
          <div>
              <h1>Sign Up</h1>
              <hr>
          </div>

          <a class="btn-account" href="/">Login</a> 
        </div>

        <div class="form-register">

          <label for="name"><i class="fas fa-user"></i> &nbsp;Name*</label>
          <input type="text" id="name" name="name" maxlength="70">   

          <label for="email"><i class="fas fa-envelope"></i> &nbsp;Email*</label>
          <input type="email" id="email" name="email" maxlength="70">   

          <label for="password"><i class="fas fa-unlock-alt"></i> &nbsp;Password*</label>
          <input type="password" id="password" name="password" maxlength="32">
            
          <label for="repassword"><i class="fas fa-unlock-alt"></i> &nbsp;Re-Password*</label>
          <input type="password" id="repassword" name="repassword" maxlength="32">
        
        </div>

        <button class="btn-register" onclick="apiRegister()">Register</button>
      </div>

    </div>
  </div>

</div>