<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Senior Test - Auth</title>
  <link rel="stylesheet" href="./styles/auth.css">
  <link rel="stylesheet" href="./styles/alertify.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>